
# IMBALANCED TREATMENT

Ways To Treat imbalanced dataset are:
1. Undersampling
2. Oversampling
3. Synthetic Artifical Method (SMOTE)
4. Weight Calculation Method
5. NearMiss

In [2]:
# Import the library
import numpy as np
import pandas as pd

In [6]:
# Import the creditCard dataset
credit=pd.read_csv('C://Users//Admin//Desktop//python Lab//creditcard.csv')

In [7]:
credit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [11]:
#Lets split the column class and store it in y variable
x=credit.iloc[:,:-1]
y=credit.iloc[:,-1]

In [9]:
x.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [12]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

In [13]:
#value_counts()--> counts how many time a particular value is repeated.
y.value_counts()
#From the output its clear that the given dataset is imbalance, because 0 is occuring 284315 times and 1 -->492

0    284315
1       492
Name: Class, dtype: int64

# LETS START THE TREATMENT

In [15]:
# To start first we need to install imblearn package
!pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.10.0-py3-none-any.whl (225 kB)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Installing collected packages: joblib, imbalanced-learn, imblearn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
Successfully installed imbalanced-learn-0.10.0 imblearn-0.0 joblib-1.2.0

1. UNDERSAMPLING (Don't Use) here the dataset get reduced.

In [18]:
from imblearn.under_sampling import RandomUnderSampler
undersampling=RandomUnderSampler()
x_under,y_under=undersampling.fit_resample(x,y)

In [28]:
print(y.value_counts())
print(".................Afer Sampling.............")
print(y_under.value_counts())
print()
print(x.shape,y.shape)
print(x_under.shape,"Y shape: ",y_under.shape)

0    284315
1       492
Name: Class, dtype: int64
.................Afer Sampling.............
0    492
1    492
Name: Class, dtype: int64

(284807, 30) (284807,)
(984, 30) Y shape:  (984,)

2. OVERSAMPLING (USE)

In [30]:
from imblearn.over_sampling import RandomOverSampler
oversampling=RandomOverSampler()
x_over,y_over=oversampling.fit_resample(x,y)

In [31]:
print(y.value_counts())
print(".................Afer Sampling.............")
print(y_over.value_counts())
print()
print(x.shape,y.shape)
print(x_over.shape,"Y shape: ",y_over.shape)

0    284315
1       492
Name: Class, dtype: int64
.................Afer Sampling.............
0    284315
1    284315
Name: Class, dtype: int64

(284807, 30) (284807,)
(568630, 30) Y shape:  (568630,)

3. SMOTE -(synthetic majority oversampling Technique) Use

In [34]:
from imblearn.over_sampling import SMOTE
smote=SMOTE()
x_smote,y_smote=smote.fit_resample(x,y)

In [35]:
print(y.value_counts())
print(".................Afer Sampling.............")
print(y_smote.value_counts())
print()
print(x.shape,y.shape)
print(x_smote.shape,"Y shape: ",y_smote.shape)

0    284315
1       492
Name: Class, dtype: int64
.................Afer Sampling.............
0    284315
1    284315
Name: Class, dtype: int64

(284807, 30) (284807,)
(568630, 30) Y shape:  (568630,)

# NEARMISS (Do not Use)

In [38]:
from imblearn.under_sampling import NearMiss
nearmiss=NearMiss()
x_nearmiss,y_nearmiss=nearmiss.fit_resample(x,y)

In [39]:
print(y.value_counts())
print(".................Afer Sampling.............")
print(y_nearmiss.value_counts())
print()
print(x.shape,y.shape)
print(x_nearmiss.shape,"Y shape: ",y_nearmiss.shape)

0    284315
1       492
Name: Class, dtype: int64
.................Afer Sampling.............
0    492
1    492
Name: Class, dtype: int64

(284807, 30) (284807,)
(984, 30) Y shape:  (984,)